.toggle-switch {
  width: 56px;
  height: 28px;
  border-radius: 999px;
  border: 2px solid #7e7e7e;
  background-color: #ffffff;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;

  position: relative;
  cursor: pointer;
}

.toggle-switch__checkbox {
  position: absolute;
  inset: 0;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

.toggle-switch__circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #000000;
  z-index: 0;
  transition: transform 0.25s ease;
}

.toggle-switch__checkbox:checked + .toggle-switch__circle {
  transform: translateX(24px);
}

.toggle-switch__value {
  position: relative;
  z-index: 1;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #7e7e7e;
  pointer-events: none;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__value_right {
  color: #ffffff;
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__value_left {
  color: #ffffff;
}
