.weather-card {
  height: 80px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  margin-top: 16px;
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.weather-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
}

.weather-card__temp {
  position: absolute;
  top: 20px;
  left: 16px;
  font-size: 36px;
  line-height: 1.1;
  margin: 0;
  font-weight: 700;
  color: #ffffff;
}
