.main {
  margin-top: 32px;
}

.main__text {
  margin: 24px 0 32px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.main__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: center;
}
