.header {
  display: flex;
}

.header__logo {
  margin-right: 24px;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  background: transparent;
  border: none;
}

.header__username {
  margin-right: 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__place {
  padding-top: 5px;
}

.header__dateTime {
  margin-top: 21px;
  margin-right: 3px;
}
