.header {
  display: flex;
}

.header__logo {
  margin-right: 24px;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.header__username {
  margin-right: 12px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
}
