.header {
  display: flex;
  justify-content: space-between;
}
.header__side {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  background: transparent;
  border: none;
}

.header__username {
  margin-right: 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__dateTime {
  margin-right: 3px;
  font-weight: 700;
  font-size: 20px;
}

.header__link {
  display: flex;
  text-decoration: none;
  color: #000;
}
