.sidebar {
  min-width: 229px;
  margin-top: 32px;
}

.sidebar__username {
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.sidebar__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
