.footer {
  font-family: Cabinet Grotessk, sans-serif;
  font-weight: 500;
  margin: 15px;
  padding: 15px;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
}
