.footer {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 500;
  margin: 85px 0 0;
  padding: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
}
