.clothes-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.clothes-section__header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clothes-section__title {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.clothes-section__add-new-btn {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.clothes-section__add-new-btn:hover {
  opacity: 0.8;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
