.clothes-section {
  flex: 1;
}

.clothes-section__row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
}

.clothes-section__title {
  margin: 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.clothes-section__btn {
  border: none;
  padding: 0;
  background: transparent;
  font: inherit;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
