@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Cabinet Grotesk, sans-serif;
  color: #000;
  background: #fff;
}

button,
input,
textarea {
  font-family: inherit;
}
